name: Deploy to Azure App Service

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Docker build
        run: |
          docker build -t ${{ secrets.REGISTRY_URL }}/finalapp:latest .

      - name: Docker login to ACR
        run: |
          echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login ${{ secrets.REGISTRY_URL }} -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin

      - name: Docker push to ACR
        run: |
          docker push ${{ secrets.REGISTRY_URL }}/finalapp:latest

      - name: Deploy to Azure App Service using Managed Identity
        uses: azure/webapps-deploy@v2
        with:
          app-name: se4453final-app
          images: ${{ secrets.REGISTRY_URL }}/finalapp:latest
